<div class="container">
    <div class="middle"></div>
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, id! Quae veniam consequatur sit animi laudantium iste placeat, repellat nam similique dicta dolores corporis, aspernatur dolor et rerum ducimus commodi!</div>
    <div class="button"><Button class="bokapass">Boka pass</Button></div>
    <img src="img\gym.jpg" alt="gym.jpg" class="image"></div>
    </div>